@media screen and (min-width: 1600px) {
    .app-media .page {
        max-width: 1540px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .app-media .page {
        max-width: 1140px
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .app-media .page {
        max-width: 932px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .app-media .page {
        max-width: 708px
    }
}

@media screen and (max-width: 768px) {
    .app-media .page {
        margin: 0
    }
}