.header-desktop, .header-mobile {
    display: flex;
    border-bottom: 1px solid #e9eced;
    color: #676d73;
    height: 60px;
    z-index: 100;
}

.site-nav {
    display: flex;
}

.arrow {
    transition: transform .2s ease;
}

.menu-button.open .arrow {
    transform: rotate(180deg);
}

/* Desktop view */

.header-desktop {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.site-nav a {
    color: #676d73;
    padding: 0 16px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.site-nav a:hover {
    box-shadow: inset 0 -2px 0 #d3d4d5;
    color: #2f3033;
}

.header-desktop ul {
    list-style-type: none;
    display: flex;
}

.header-desktop li {
    display: flex;

}

/* Mobile view */

.header-mobile {
    display: none;
}

#header-mobile-links {
    position: absolute;
    transform: translateY(-100%);
    transition: transform .2s ease-in;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 800;
    color: black;
}

#header-mobile-links ul {
    list-style-type: none;
}

#header-mobile-links li {
    padding-bottom: 20px;
}

.hw-logo {
    padding: 0 16px;
    display: flex;
    align-items: center;
    /* Hide menu overflow */
    z-index: 100;
    background-color: white;
}

.hw-logo button {
    background: none;
    border: none;
}

@media (max-width: 768px) {
    .header-desktop {
        display: none
    }

    .header-mobile {
        display: flex;
    }
}
