.location {
    width: 80%;
    margin: 0px auto;
}

#location-header {
    text-align: center;
    padding: 30px
}

.location-row {
    display: flex;
    justify-content: space-evenly;
    margin: 16px auto 16px auto; 
}

.location-item img {
    width: 400px;
    height: 300px;
}

.location-item p {
    text-align: center;
}