* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", "Roboto", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a, a:active, a:hover {
    color: #009fd9;
    text-decoration: none;
}

button, input[type=checkbox] + label, input[type=radio] + label, option, select {
    cursor: pointer;
}

select {
    border: 1px solid #d3d4d5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 54px;
    width: 100%;
    font-size: 16px;
    font-weight: lighter;
    padding: 0 10px;
    background: url("/website/imgsite/img/down-arrow.svg") 96% / 4% no-repeat;
}

button {
    font-size: 16px;
    font-weight: bolder;
    padding: 0 10px;
    border: none;
    color: #fff;
    background-color: #009fd9;
    border-radius: 4px;
    min-height: 48px;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.arrow {
    transition: transform .2s ease;
}

.menu-button.open .arrow  {
    transform: rotate(180deg);
}

.grey {
    background-color: #e9eced;
}